1.Data Analysis:

In [17]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from skimpy import clean_columns

In [18]:
df1 = pd.read_csv("immo_rent_test.csv")
df1.head(2)

,ID,locality,Monthly rental price,Double glazing,zipcode,Building condition,Price,Kitchen type,Living area,Furnished,Surface of the plot,Number of frontages,Swimming pool,Bedrooms,Garden,Garden surface,Terrace,Terrace surface,Type of property
0,10333935,brugge,€ 795 795 €,Yes,8200,As new,0,USA hyper equipped,81 m² square meters,No,0,2,False,2,None,0,Yes,8 m² square meters,Apartment
1,10333926,woluwe-saint-lambert,€ 970 970 €,Yes,1200,Just renovated,0,USA installed,65 m² square meters,Yes,0,2,False,1,None,0,Yes,8 m² square meters,Apartment

In [19]:
# No duplicates
df1.drop_duplicates()
df1['Monthly rental price'] = pd.to_numeric(df1['Monthly rental price'])
#detleted 'square meters' from Living area, Surface of the plot, Garden surface. Terrace surface.
#df1['Living area'] = df1['Living area'].str.replace('m² square meters', '')
#df1['Surface of the plot'] = df1['Surface of the plot'].str.replace('m² square meters', '')
#df1['Garden surface'] = df1['Garden surface'].str.replace('m² square meters', '')
df1['Terrace surface'] = df1['Terrace surface'].str.replace('m² square meters', '')
#df1['Monthly rental price'] = df1['Monthly rental price'].str.replace([1], '')
#df1['Living area'] = df1['Living area'].str.replace('m² square meter', '')
#df1['Surface of the plot'] = df1['Surface of the plot'].str.replace('m² square meter', '')
#df1['Garden surface'] = df1['Garden surface'].str.replace('m² square meter', '')
#df1['Terrace surface'] = df1['Terrace surface'].str.replace('m² square meter', '')
df1['Furnished'] = df1['Furnished'].astype('bool')
df1['Swimming pool'] = df1['Swimming pool'].astype('bool')
df1['Terrace'] = df1['Terrace'].astype('bool')

df1.head()

ValueError: Unable to parse string "€ 795 795 €" at position 0